<<<<<<< HEAD
footer ul li {
	list-style: none;
}

footer ul li a {
	text-decoration: none;
	color: #767676;
	letter-spacing: 0.2px;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 18px;
	cursor: auto;

}

a:hover {
	text-decoration: underline;
	color: #767676;
}

h2 {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.2px;
	font-weight: 700;
	color: #484848;
}

.margintop {
	margin-left: 5%;
	margin-right: 5%;
}

.marginbottom {
	margin-left: 5%;
	margin-right: 5%;
}

.size {
	width: 210px;
	height: 45px;
}

.padding_device {
	padding-top: 10px;
}

.padding_bottom {
	padding-left: 8px;
}

.color_select {
	background-color: white;
}

.hr_bottom {
	margin-right: 5%; 
	margin-left: 5%; 	
}
=======
.h4 {
	color: rgb(168, 118, 52);
	text-transform: uppercase;
	font-weight: bold;
	font-size: small;
}
.h2 {
	color: #484848;
	text-transform:capitalize;
}
.h5 {
	color: #484848;
	font-weight: bold;
	font-size: large;
	text-transform: capitalize;
}
.h6 {
	color: #484848;
	font-size:small;
	text-transform: capitalize;
}
.h3 {
	color: #484848;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 16px;
}
h2 {
	color: #484848;
	text-transform: capitalize;
	font-size: large;
}
body ul {
	list-style: none;
}
body {
	padding: 10%;
}
.explorelink {
	border: 1px solid #CCC;
	text-decoration: none;
	margin-right: 50px;

}
.explorelink img {
	margin-right: 20px;
}

.exp {
	margin-bottom: 50px;
}
>>>>>>> 1542055967fe8c9e16095ac5389d5da6e54bfcea
