footer ul li {
	list-style: none;
}

footer ul li a {
	text-decoration: none;
	color: #767676;
	letter-spacing: 0.2px;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 18px;
	cursor: auto;

}

a:hover {
	text-decoration: underline;
	color: #767676;
}

h2 {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.2px;
	font-weight: 700;
	color: #484848;
}

.margintop {
	margin-left: 5%;
	margin-right: 5%;
}

.marginbottom {
	margin-left: 5%;
	margin-right: 5%;
}

.size {
	width: 210px;
	height: 45px;
}

.padding_device {
	padding-top: 10px;
}

.padding_bottom {
	padding-left: 8px;
}

.color_select {
	background-color: white;
}

.hr_bottom {
	margin-right: 5%; 
	margin-left: 5%; 	
}